<div class="user-items d-flex">
    <ul class="d-flex justify-content-end list-unstyled mb-0">
        <li class="search-item pe-3">
            <a href="#" class="search-button">
                <svg class="search">
                    <use xlink:href="#search"></use>
                </svg>
            </a>
        </li>
        <li class="pe-3">
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <svg class="user">
                    <use xlink:href="#user"></use>
                </svg>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="tabs-listing">
                                <nav>
                                    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                                        <button class="nav-link text-capitalize active" id="nav-sign-in-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-sign-in" type="button" role="tab" aria-controls="nav-sign-in"
                                            aria-selected="true">Sign In</button>
                                        <button class="nav-link text-capitalize" id="nav-register-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-register" type="button" role="tab" aria-controls="nav-register"
                                            aria-selected="false">Register</button>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade active show" id="nav-sign-in" role="tabpanel"
                                        aria-labelledby="nav-sign-in-tab">
                                        <form asp-controller="Account" asp-action="Login" method="post">
                                            <div class="form-group py-3">
                                                <label class="mb-2" for="sign-in">Username or email address *</label>
                                                <input type="text" minlength="2" name="username" placeholder="Your Username"
                                                    class="form-control w-100 rounded-3 p-3" required>
                                            </div>
                                            <div class="form-group pb-3">
                                                <label class="mb-2" for="sign-in">Password *</label>
                                                <input type="password" minlength="2" name="password" placeholder="Your Password"
                                                    class="form-control w-100 rounded-3 p-3" required>
                                            </div>
                                            <label class="py-3">
                                                <input type="checkbox" name="rememberMe" class="d-inline">
                                                <span class="label-body">Remember me</span>
                                                <span class="label-body"><a href="#" class="fw-bold">Forgot Password</a></span>
                                            </label>
                                            <button type="submit" name="submit" class="btn btn-dark w-100 my-3">Login</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="nav-register" role="tabpanel"
                                        aria-labelledby="nav-register-tab">
                                        <form asp-controller="Account" asp-action="Register" method="post">
                                            <div class="form-group py-3">
                                                <label class="mb-2" for="register">Your email address *</label>
                                                <input type="email" minlength="2" name="email" placeholder="Your Email Address"
                                                    class="form-control w-100 rounded-3 p-3" required>
                                            </div>
                                            <div class="form-group pb-3">
                                                <label class="mb-2" for="sign-in">Password *</label>
                                                <input type="password" minlength="2" name="password" placeholder="Your Password"
                                                    class="form-control w-100 rounded-3 p-3" required>
                                            </div>
                                            <label class="py-3">
                                                <input type="checkbox" required="" class="d-inline">
                                                <span class="label-body">I agree to the <a href="#" class="fw-bold">Privacy
                                                        Policy</a></span>
                                            </label>
                                            <button type="submit" name="submit" class="btn btn-dark w-100 my-3">Register</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="wishlist-dropdown dropdown pe-3">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                <svg class="wishlist">
                    <use xlink:href="#heart"></use>
                </svg>
            </a>
            <div class="dropdown-menu animate slide dropdown-menu-start dropdown-menu-lg-end p-3">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your wishlist</span>
                    <span class="badge bg-primary rounded-pill">0</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item bg-transparent d-flex justify-content-between lh-sm">
                        <div>
                            <p class="text-muted">Your wishlist is empty</p>
                        </div>
                    </li>
                </ul>
                <div class="d-flex justify-content-between">
                    <a asp-controller="Wishlist" asp-action="Index" class="btn btn-primary">View Wishlist</a>
                </div>
            </div>
        </li>
        <li class="cart-dropdown dropdown">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                <svg class="cart">
                    <use xlink:href="#cart"></use>
                </svg>
                <span class="fs-6 fw-light">(0)</span>
            </a>
            <div class="dropdown-menu animate slide dropdown-menu-start dropdown-menu-lg-end p-3">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                    <span class="badge bg-primary rounded-pill">0</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item bg-transparent d-flex justify-content-between lh-sm">
                        <div>
                            <p class="text-muted">Your cart is empty</p>
                        </div>
                    </li>
                </ul>
                <div class="d-flex justify-content-between">
                    <a asp-controller="Cart" asp-action="Index" class="btn btn-primary">View Cart</a>
                </div>
            </div>
        </li>
    </ul>
</div>
