@{
    ViewData["Title"] = "Blog";
}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Blog</h1>
                <p class="lead">Stay updated with the latest book reviews, author interviews, and reading recommendations.</p>
                
                <div class="row mt-4">
                    <div class="col-md-6 mb-4">
                        <article class="card">
                            <img src="~/images/banner-image.png" class="card-img-top" alt="Blog post">
                            <div class="card-body">
                                <h5 class="card-title">Top 10 Books to Read This Summer</h5>
                                <p class="card-text">Discover the most exciting books perfect for your summer reading list.</p>
                                <small class="text-muted">Posted on June 15, 2024</small>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 mb-4">
                        <article class="card">
                            <img src="~/images/banner-image.png" class="card-img-top" alt="Blog post">
                            <div class="card-body">
                                <h5 class="card-title">Author Interview: New Release</h5>
                                <p class="card-text">An exclusive interview with our featured author about their latest masterpiece.</p>
                                <small class="text-muted">Posted on June 10, 2024</small>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
