@{
    ViewData["Title"] = "Shop";
}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Book Collection</h1>
                <p class="lead">Explore our wide range of books across different categories.</p>
                
                <div class="row mt-4">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="~/images/product-item1.jpg" class="card-img-top" alt="Book">
                            <div class="card-body">
                                <h5 class="card-title">Fiction Books</h5>
                                <p class="card-text">Discover amazing fictional stories and adventures.</p>
                                <a href="#" class="btn btn-primary">Browse Fiction</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="~/images/product-item2.jpg" class="card-img-top" alt="Book">
                            <div class="card-body">
                                <h5 class="card-title">Romance Books</h5>
                                <p class="card-text">Fall in love with our romantic stories.</p>
                                <a href="#" class="btn btn-primary">Browse Romance</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="~/images/product-item3.jpg" class="card-img-top" alt="Book">
                            <div class="card-body">
                                <h5 class="card-title">Adventure Books</h5>
                                <p class="card-text">Embark on thrilling adventures.</p>
                                <a href="#" class="btn btn-primary">Browse Adventure</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
